.direct-conversation-view {
  display: flex;
  height: calc(100vh - 60px);
  width: 100%;

  .direct-conversation-view-inner {
    height: auto;
    width: 100%;
    overflow: visible;
    display: flex;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    .direct-conversation-view-body {
      background-color: var(--chatBg, $fallback--bg);
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: visible;
      border-radius: none;
      min-height: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0em;
      margin-top: 0em;
      border-radius: 10px 10px 0 0;
      border-radius: var(--panelRadius, 10px) var(--panelRadius, 10px) 0 0 ;

      &.panel {
        &::after {
          border-radius: 0;
          box-shadow: none;
        }
      }

      .direct-conversation-view-heading {
        align-items: center;
        justify-content: space-between;
        top: 50px;
        display: flex;
        z-index: 2;
        border-radius: none;
        position: -webkit-sticky;
        position: sticky;

        .direct-conversation-title {
          display: flex;

          a {
            display: flex;
            align-items: center;
          }
        }

        .go-back-button-wrapper {
          display: flex;
          width: 100%;
        }

        .button-icon {
          cursor: pointer;
          display: flex;
          align-content: center;
          align-items: center;
        }

        .go-back-button {
          cursor: pointer;
          margin-right: 1.2em;

          i {
            color: $fallback--link;
            color: var(--panelLink, $fallback--link);
          }
        }

        .title {
          flex-shrink: 1;
          margin-right: 0em;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 28px;

          flex-shrink: 1;
          margin-right: 0em;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex-shrink: 0;
          max-width: 80%;
          display: grid;
          display: flex;
        }
      }

      .scrollable {
        padding: 0 10px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
      }

      .footer {
        position: -webkit-sticky;
        position: sticky;
        bottom: 0px;
      }
    }
  }
}

@media all and (max-width: 800px) {
  .direct-conversation-view {
    height: 100%;
    overflow: hidden;

    .direct-conversation-view-inner {
      overflow: hidden;
      height: 100%;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;

      .direct-conversation-view-body {
        display: flex;
        min-height: auto;
        overflow: hidden;
        height: 100%;
        margin: 0;
        border-radius: 0 !important;

        .direct-conversation-view-heading {
          position: static;
          z-index: 9999;
          top: 0;
          margin-top: 0;
          border-radius: 0;
        }

        .scrollable {
          display: unset;
          overflow-y: scroll;
          overflow-x: hidden;
          -webkit-overflow-scrolling: touch;
        }

        .footer {
          position: relative;
          bottom: auto;

          .post-status-form form {
            padding: 0;
          }
        }
      }
    }
  }
}

.jump-to-bottom-button {
  width: 2.5em;
  height: 2.5em;
  border-radius: 100%;
  position: absolute;
  position: absolute;
  right: 1.3em;
  top: -3.2em;
  background-color: $fallback--fg;
  background-color: var(--btn, $fallback--fg);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 10;

  transition: 0.35s all;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  opacity: 0;
  visibility: hidden;
  cursor: pointer;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  i {
    font-size: 1em;
    color: $fallback--text;
    color: var(--text, $fallback--text);
  }

  .new-messages-alert-dot {
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 100%;
    height: 1.3em;
    width: 1.3em;
    position: absolute;
    top: calc(50% - 8px);
    text-align: center;
    font-style: normal;;
    font-weight: bolder;
    margin-top: -1rem;
    font-size: 0.8em;
    background-color: $fallback--cRed;
    background-color: var(--badgeNotification, $fallback--cRed);
    color: white;
    color: var(--badgeNotificationText, white);
  }
}
